/* 노말라이즈 */
body, ul, li, h1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
}

label[for] {
	cursor: pointer;
	user-select: none;
}

/* 라이브러리 */


.tui-editor-defaultUI pre {
    word-break: break-all !important;
    white-space: pre-wrap;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.img-box>img, .img-box>svg {
	width: 100%;
	display: block;
}

.video-box>video {
	width: 100%;
	display: block;
}

.con {
	margin-left: auto;
	margin-right: auto;
}

.border-red {
	border: 10px solid red;
}

html>head+body:nth-child(2) .height-300 {
	min-height: 100px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.padding-0-10 {
	padding-left: 10px;
	padding-right: 10px;
}

.padding-0-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.padding-10-0 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding-20-0 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.bg-white {
	background-color: white;
}

.padding-10 {
	padding: 10px;
}
.padding-left-10 {
	padding-left:10px;
}

.text-center{
	text-align:center;
} 

/* flex 관련 */
.flex {
	display: flex;
}

.flex-ai-c {
	align-items: center;
}

.flex-jc-c {
	justify-content: center;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-1-0-0 {
	flex:1 0 0;
}

/* 테이블 관련 */
.join-form > table,
 .login-form > table,
  .passwordForPrivate-form > table,
   .modify-password-form > table,
    .modify-form > table,
     .write-form > table,
      .my-page-box > table {
	width: 100%;
	border-collapse: collapse;
}

.join-form>table th,
 .login-form>table th,
  .passwordForPrivate-form>table th,
   .modify-password-form>table th,
    .modify-form>table th,
      .my-page-box>table th,
       .table-box>table td {
	border-right:none;
	padding: 10px;
	text-align: left;
	color:white;
}

.write-form>table th{
	border-right:none;
	padding: 10px;
	text-align: left;
	color:black;
}

/* 폼 관련 */
.join-form .form-control-box>input, .join-form .form-control-box>textarea,
 .login-form .form-control-box>input, .login-form .form-control-box>textarea,
  .passwordForPrivate-form .form-control-box>input, .passwordForPrivate-form .form-control-box>textarea,
   .modify-password-form .form-control-box>input, .modify-password-form .form-control-box>textarea,
   .modify-form .form-control-box>input, .modify-form .form-control-box>textarea,
    .write-form .form-control-box>input, .write-form .form-control-box>textarea{
	width: 100%;
	padding: 0;
	display: block;
	box-sizing: border-box;
	padding: 10px;
}

.join-form .form-control-box>textarea,
 .login-form .form-control-box>textarea,
  .passwordForPrivate-form .form-control-box>textarea,
   .modify-password-form .form-control-box>textarea,
    .modify-form .form-control-box>textarea,
     .write-form .form-control-box>textarea {
	min-height: 300px;
	resize: none;
}
/* for-row 안씀
.join-form .form-row,
 .login-form .form-row, 
  .passwordForPrivate .form-row{
}

.join-form .form-row >.form-control-label,
 .login-form .form-row >.form-control-label,
  .passwordForPrivate-form .form-row >.form-control-label {
	align-items: center;
	padding: 10px;
}

.join-form .form-row >.form-control-box,
 .login-form .form-row >.form-control-box,
  .passwordForPrivate-form .form-row >.form-control-box {
	align-items: center;
	padding: 10px;
}
*/

.join-form th,
 .login-form th,
  .passwordForPrivate-form th,
   .modify-password-form th,
    .modify-form th,
     .write-form th,
      .my-page-box th {
	/* `로그인 아이디` 문구가 줄 바꿈 될 때 공백기준으로 줄바꿈 되도록 */
	word-break: keep-all;
}

/* 버튼관련 */
.btn {
	width:100%;
	margin:0 auto;
	padding: 10px 15px;
	font-weight: bold;
	border-radius: 10px;
	outline: 0;
	border: 0;
	cursor: pointer;
	background-color: white;
	color: black;
	text-shadow: 1px 1px 20px #000000;
}

.btn:hover {
	background-color: #efefef;
}

.btn-success {
	background-color: green;
}

.btn-danger {
	background-color: red;
}

.cancel:hover {
	color:blue;
}

.cancel:active{
	color:red;
}

/* page-title start */

.page-title {
	position: absolute;
	top:5%;
	left:50%;
	transform:translateX(-50%);
}

.page-title > h1 {
	color:white;
}

/* page-title end */

/* 회원가입 관련 시작 */
.join-background{
	position:absolute;
	top:20%;
	left:20%;
	right:20%;
	bottom:20%;
	background-color:black;
}

.join-form{
	border:1px solid white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
/* 회원가입 관련 끝*/

/* 회원 비밀번호로 인증 페이지 시작 */
.passwordForPrivate-background{
	position:absolute;
	top:20%;
	left:20%;
	right:20%;
	bottom:20%;
	background-color:black;
}

.passwordForPrivate-form{
	border:1px solid white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	padding:20px;
}
/* 회원 비밀번호로 인증 페이지 끝 */

/* 회원 비밀번호 수정 페이지 시작 */
.modify-password-background{
	position:absolute;
	top:20%;
	left:20%;
	right:20%;
	bottom:20%;
	background-color:black;
}

.modify-password-form{
	border:1px solid white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	padding:20px;
}
/* 회원 비밀번호 수정 페이지 끝 */

/* 회원 개인 정보 수정 페이지 시작 */
.modify-background{
	position:absolute;
	top:20%;
	left:20%;
	right:20%;
	bottom:20%;
	background-color:black;
}

.modify-form{
	border:1px solid white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	padding:20px;
}
/* 회원 개인 정보 수정 페이지 끝 */

/* 로그인 관련 시작 */

.login-background{
	position:absolute;
	top:30%;
	left:30%;
	right:30%;
	bottom:30%;
	background-color:black;
}

.login-form {
	border:1px solid white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	padding:5px;
}
/* 로그인 관련 끝*/
/* 마이페이지 관련 시작 */
.my-page-background{
	position:absolute;
	top:25%;
	left:25%;
	right:25%;
	bottom:25%;
	background-color:black;
}

.my-page-box {
	border:1px solid white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	padding:5px;
}

.all-modify {
	position: absolute;
	bottom:7%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
}
/* 마이페이지 관련 끝 */

/* 비밀번호 찾기, 아이디 찾기 시작 */
.findPw-background, .findId-background {
	position:absolute;
	top:20%;
	left:30%;
	right:30%;
	bottom:20%;
	background-color:black;
}
/* 비밀번호 찾기 끝 */

/* 게시판 리스트 시작 */
.list-background {
	position:absolute;
	top:30%;
	left:10%;
	right:22%;
	bottom:auto;
	background-color:#ebebf1;
	margin-bottom:100px;
}

.list-page-title h1{
	background-color:white;
	text-align: center;
}


.list-background >  .list-box-1 .table-thead{
	background-color:#6b6880;
	color:#ebebf1;
}

.list-background >  .list-box-1 .table-thead > tr{
	height:70px;
}

.list-background >  .list-box-1 .table-tbody > tr {
	height: 44px;
}

.list-background >  .list-box-1 .table-tbody > tr a {
	text-decoration: none;
}

.list-background >  .list-box-1 .table-tbody > tr:hover{
	background-color:#c6bcda;
}



.list-background >  .list-box-1 > table {
	color:#6b6880;
	border-collapse : collapse;
	background-color:#ebebf1;
}

.list-background >  .list-box-1  .table-tbody td a {
	display:block;
	width:80px;
	text-overflow:ellipsis;  
	overflow:hidden;  
	white-space:nowrap;
	cursor: default;
}
/*
@media ( max-width: 780px ) {
  .list-background >  .list-box-1  .table-tbody td a {
    width:50px;
  }
}
*/
.list-background >  .list-box-1 .table-tbody  .list-title-1 > a:hover {
	text-decoration:underline;
	color:blue;
}

.list-background >  .list-box-1 .table-tbody  .list-title-1 > a:active {
	color:red;
}

.go-write-form {
	background-color:white;
	text-align: right;
}

.go-write-form input{
	padding: 20px 40px;
}

/* 게시판 리스트 끝 */

/* 글쓰기 게시판 시작 */
.write-page-title h1{
	color:black;
	position: absolute;
	top:20%;
	left:50%;
	transform:translateX(-50%);
}

.write-background{
	
	height: 1200px;
}

.write-form{
	margin-top:200px;
	margin-bottom:50px;
	border:1px solid white;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	width:1000px;
	background-color:#ebebf1;
}
.write-form * {
	color:black;
}
/* 글쓰기 게시판 끝 */

/* 상세 게시물 시작 */
.detail-page-title h1{
	text-align:center;
	color:black;
}

.detail-background{
	margin-bottom:50px;
}


.article-detail-box{
	margin-top:200px;
	margin-bottom:50px;
	border:1px solid white;
	width:1000px;
	background-color:#ebebf1;
}

.article-detail-box td {
	border-right:none;
	padding: 10px;
	text-align: left;
	color:black;;
}

.article-detail-box > table{
	border-collapse : collapse;
	width:100%;
} 

.write-btn-box {
	display:block;
	text-align:center;
	color:black;
	margin-bottom:30px;
}

.article-apply-box{
	color:black;
	background-color:#ebebf1;
	border:1px solid white;
	width:500px;	
	margin-bottom:30px;
}

.article-apply-box table {
	border-collapse : collapse;
	width:100%;
}

.article-apply-box table td{
	color:black;
}
.reply-list-box * {
	color:black !important;
}

.reply-list-box {
	display:block;
	color:black;
	background-color:#ebebf1;
	border:1px solid white;
	width:1000px;	
	margin-bottom:50px;
}

.reply-list-box table {
	border-collapse : collapse;
	width:100%;
}
/* 상세 게시물 끝 */

/* Articles 페이징 시작 */
.page-box {
	margin-top:10px;
	margin-bottom: 30px;
	background-color:white;
	text-align: center;
}

.page-box > ul > li {
	display: inline-block;
}

.page-box > ul > li > a {
	font-size: 1.2rem;
	padding: 0 10px;
	text-decoration: underline;
	color: #787878;
}

.page-box > ul > li:hover > a {
	color: black;
}

.page-box > ul > li.current > a {
	color: red;
}

.page-box > ul span {
	cursor: pointer;
}

.page-box ul li > a:hover {
	color: blue;
}

.page-box ul li > a:active {
	color: red;
}

.page-box > ul span:active {
	color:blue;
}
/* Articles 페이징 끝 */